<div class="content">
    <div class="tabs">
        <nav class="tabs__items">
            <a href="#tab_01" class="tabs__item">
                <span>Первая вкладка</span>
            </a>
            <a href="#tab_02" class="tabs__item">
                <span>Вторая вкладка</span>
            </a>
            <a href="#tab_03" class="tabs__item">
                <span>Третья вкладка</span>
            </a>
        </nav>
        <div class="tabs__body">
            <div id="tab_01" class="tabs__block">
                Первая вкладка. Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Consequatur nisi eligendi at enim, minima
                commodi, maiores libero atque tempora suscipit alias assumenda.
                Recusandae rerum fugiat delectus dolore eaque natus aspernatur.
            </div>
            <div id="tab_02" class="tabs__block">
                Вторая вкладка. Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Consequatur inventore itaque eligendi vel ad,
                porro quas nam quam error architecto et numquam maiores? Quo
                atque velit natus earum necessitatibus minus?
            </div>
            <div id="tab_03" class="tabs__block">
                Третья вкладка. Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Doloribus corrupti architecto id laboriosam
                animi quidem mollitia porro nihil atque commodi? Harum id quasi
                ipsa delectus. Obcaecati nesciunt eaque numquam aspernatur!
            </div>
        </div>
    </div>
    <div class="text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro
        explicabo, impedit culpa aliquam a fugit corrupti atque excepturi
        consequatur veniam sapiente ut maiores eligendi tempore in dolores
        suscipit. Suscipit, quo!
    </div>
</div>