@import '_reset';
@import '_burger';
/* @import '_accordion'; */
/* @import '_tabs'; */
/* @import '_list-counter'; */

/*---Main SCSS---*/
main {
    text-align: center;
}

footer {
    background-color: cornflowerblue;
    color: #fff;
    text-align: center;
}

/*---End main SCSS*/

@import '_media';