/*--- Accordion 1 ver. ---*/
.accordion {
    padding: 50px;

    &__block {
        margin-bottom: 20px;
    }

    &__text {
        padding-top: 10px;
        display: none;
    }

    &__title {
        text-transform: uppercase;
        letter-spacing: 2px;
        position: relative;
        padding-left: 30px;
        cursor: pointer;
    }
}

/*--- Accordion arrow ---*/
.accordion {

    &__title::before,
    &__title::after {
        content: "";
        width: 10px;
        height: 1px;
        background-color: #000;
        position: absolute;
        top: 8px;
        transition: all 0.3s ease 0s;
    }

    &__title::before {
        transform: rotate(40deg);
        left: 0;
    }

    &__title::after {
        transform: rotate(-40deg);
        left: 8px;
    }

    &__title.active::before,
    &__title.active::after {
        background-color: crimson;
    }

    &__title.active::before {
        transform: rotate(-40deg);
    }

    &__title.active::after {
        transform: rotate(40deg);
    }
}

/*--- Accordion 2 ver. ---*/
.faq {
    &__inner {
        background: #fff;
        border: 5px solid transparent;
        border-radius: 14px;
        padding: 0 32px;
        transition-property: border-color;
        transition-duration: .3s;
        margin-bottom: 22px;

        &.is-open {
            border-color: #E5E9ED;
        }

        &-header {
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 1;
            color: #1D1D1B;
            position: relative;
            padding: 28px 30px 28px 0;
            cursor: pointer;
            display: flex;
            align-items: center;
        }

        &-body {
            padding: 25px 0 32px 0;
            border-top: 2px solid #E5E9ED;
            display: none;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 1.4;
            color: #335371;
        }
    }

}

/*--- Accordion 2ver END ---*/