<!--Accordion HTML template 1 ver-->
<div class="accordion one">
    <div class="accordion__block">
        <div class="accordion__title">Заголовок 1</div>
        <div class="accordion__text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum
            ad, quasi vel facilis amet debitis sunt ratione excepturi ducimus
            velit.
        </div>
    </div>
    <div class="accordion__block">
        <div class="accordion__title">Заголовок 2</div>
        <div class="accordion__text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum
            ad, quasi vel facilis amet debitis sunt ratione excepturi ducimus
            velit.
        </div>
    </div>
    <div class="accordion__block">
        <div class="accordion__title">Заголовок 3</div>
        <div class="accordion__text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum
            ad, quasi vel facilis amet debitis sunt ratione excepturi ducimus
            velit.
        </div>
    </div>
</div>


<!--Accordion HTML template 2 ver-->
<div class="faq__inners">
    <div class="faq__inner">
        <div class="faq__inner-header">Як обрати продукт для себе?</div>
        <div class="faq__inner-body">
            <p>При виборі необхідно враховувати такі критерії:</p>
            <ul>
                <li>чого не вистачає організму та які в нього потреби</li>
                <li>чи приймаєш зараз якість добавки</li>
                <li>чи немає у тебе протипоказань</li>
            </ul>
            <p><a class="hero__link button-callback" href="#" style="border:none;padding:0;text-decoration: none;"
                    tabindex="0">Замовте консультацію спеціаліста. </a></p>
            <p>Ми допоможемо з вибором ❤️</p>
        </div>
    </div>
    <div class="faq__inner">
        <div class="faq__inner-header">Які є протипоказання?</div>
        <div class="faq__inner-body">
            <p><strong>Омега-3 протипоказання: </strong></p>
            <ul>
                <li>алергія на рибу і морепродукти</li>
                <li>порушення згортання крові або підготовка до операції</li>
            </ul>
            <p><strong>Омега-3 застереження (це коли краще запитати у лікаря):</strong></p>
            <ul>
                <li>камені в жовчному міхурі, ниркова недостатність</li>
                <li>гіперфункція щитовидної залози</li>
                <li>виразкова хвороба</li>
            </ul>
            <p><strong>Вітамін D3&nbsp;протипоказання:</strong></p>
            <ul>
                <li>особиста непереносимість компонентів</li>
                <li>підвищений рівень Кальцію і Вітаміну D</li>
            </ul>
            <p><strong>Вітамін D3 застереження:</strong></p>
            <ul>
                <li>камені в жовчному міхурі і нирках</li>
            </ul>
            <p><strong>Акулячий жир протипоказання:</strong></p>
            <ul>
                <li>аутоімунні захворювання</li>
                <li>алергія на рибу та морепродукти</li>
                <li>вагітність та грудне годування</li>
                <li>вік до 12 років</li>
            </ul>
            <p><strong>Сквален протипоказання:</strong></p>
            <ul>
                <li>
                    <p>вагітні та жінки у період лактації</p>
                </li>
                <li>
                    <p>діти до 12 років</p>
                </li>
                <li>
                    <p>алергія на рибу</p>
                </li>
            </ul>
            <p><strong>Колаген протипоказання:</strong></p>
            <ul>
                <li>алергія на рибу</li>
            </ul>
        </div>
    </div>
    <div class="faq__inner">
        <div class="faq__inner-header">Як відбувається оплата і доставка по Україні?</div>
        <div class="faq__inner-body">
            <p>Оплатити можна онлайн на сайті додавши <a href="https://perlahelsa.ua/store"
                    style="font-weight: 500;text-decoration: underline;">товар</a> у кошик або при отриманні на пошті,
                або кур'єру. При оформленні замовлення через кошик – доступна оплата частинами.<br>
                Доставка здійснюється Новою Поштою та&nbsp;Укрпоштою.</p>
        </div>
    </div>
    <div class="faq__inner">
        <div class="faq__inner-header">Як відбувається оплата і доставка в інші країни?</div>
        <div class="faq__inner-body">
            <p>Оплата здійснюється онлайн відразу за продукт та доставку після оформлення рахунку менеджером.</p>
            <p>Ми&nbsp;відправляємо&nbsp;по всьому світу, крім росії, білорусі, ПМР та країн, у які заборонено ввезення
                БАДів, таких як ОАЕ, Саудівська Аравія, Ізраїль, Єгипет, Чехія, Туреччина.</p>
            <p>Термін доставки — у середньому від 14 до 28 днів.</p>
        </div>
    </div>
    <div class="faq__inner">
        <div class="faq__inner-header">Який термін придатності у продукції?</div>
        <div class="faq__inner-body">
            <p>Термін придатності нашої продукції – 2 роки. На упаковці вказано дату виготовлення і закінчення терміну
                придатності. Процеси логістики і виробництва дозволяють тобі отримувати продукт, якому не більше 6
                місяців з моменту капсулювання.</p>
        </div>
    </div>
    <div class="faq__inner">
        <div class="faq__inner-header">Чи потрібно здавати аналізи перед прийомом?</div>
        <div class="faq__inner-body" style="display: none;">
            <p>Це не обов'язково. У випадку з Омега-3 – в Україні практично немає лабораторій, де б можна було здати
                аналіз, та й ця добавка не накопичується в організмі. У випадку з вітаміном Д – якщо купуєте в цілях
                профілактики – аналіз робити непотрібно. Якщо ти підозрюєш, що у тебе дефіцит, і хочеш підібрати велику
                дозу для "лікування" дефіциту – тоді аналіз краще здати.</p>
        </div>
    </div>
    <div class="faq__inner is-open">
        <div class="faq__inner-header is-open">Як обрати продукт для дитини?</div>
        <div class="faq__inner-body" style="display: block;">
            <p>Необхідно враховувати такі критерії:</p>
            <ul>
                <li>які потреби організму у дитини, його вік і вагу</li>
                <li>чи приймає зараз якісь добавки та що брали раніше</li>
                <li>чи немає протипоказань</li>
            </ul>
            <p><a class="hero__link button-callback" href="#" style="border:none;padding:0;text-decoration: none;"
                    tabindex="0">Замовте консультацію фахівця. </a></p>
            <p>Ми допоможемо з вибором ❤️</p>
        </div>
    </div>
    <div class="faq__inner">
        <div class="faq__inner-header">Чи є повернення товару?</div>
        <div class="faq__inner-body">
            <p>У дієтичних добавках не передбачено повернення продукції після відкриття упаковки, але ми так сильно
                впевнені в якості нашого продукту, що готові повернути тобі гроші,&nbsp;якщо щось не сподобається.</p>
        </div>
    </div>
</div>